:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 1400px;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  width: 280px;
  margin: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card .name {
  font-size: 30px;
  margin-bottom: 10px;
}

.card .thumb {
  width: 100%;
  height: 280px;
  margin-bottom: 25px;
}

.card .button {
  background-color: #333;
  border: 1px solid #333;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
}

.card .button.disabled {
  background-color: white;
  color: #333;
  border: 1px solid #333;
  cursor: not-allowed;
}

.card-container .card:not(:last-child) {
  /*margin-right: 0;*/
}
